/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
    box-sizing: border-box;
}

h1, h2 {
    color: #9c230b;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Header */
header {
    text-align: right;
    padding-right: 10px;
    border-bottom: 1px solid #BDBDBD;
    padding: 5px;
}

.header p {
    display: inline;
    margin-left: 25px;
}

.header a {
    text-decoration: none;
}

/* Navigation */

nav {
    float: right;
}

.main-nav nav {
    border-bottom: 1px solid #BDBDBD;
    margin-top: 30px;
}

.main-nav {
    padding-top: 50px;
    list-style-type: none;
    
}

.dropdown-wrapper {
    position: relative;
    background-color: #FFFFFF;
    z-index: 10;
}



#subNav {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    padding-left: 0;
    padding-top: 20px;
}

#projectsHover {
    position: absolute;
    display: none;
}

#subNav li {
    list-style-type: none;
    background-color: #FFFFFF;
}

.main-nav a {
    text-decoration: none;
    padding-right: 20px;
}

/* Logo */

.main-nav img {
    float: left;
    width: 15%;
    height: 40%;
    margin-left: 50px;
    padding-bottom: 20px;
    z-index: 100;
}

/* Image Slider */

.slide {
    text-align: center;
    width: 835px;
    height: 330px;
    margin: auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    filter: none;
}

/* Other Home Page Sections */

.homePage {
    padding-top: 50px;
}

.article1 {
    float: left;
}

.article2 {
    float: left;
}

.article1, .article2 {
    padding-top: 16px;
}

.thirdrow {
    padding-top: 20px;
}

.social-media {
    text-decoration: none;
    display: inline;
}

.social-media img {
    width: 50px;
    height: 50px;
}

/* Footer */

footer {
    text-align: center;
    clear: both;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}


.footer p {
    display: inline;
    margin-right: 20px;
}

.footer a {
    text-decoration: none;
}

/* About Page */

.about {
    width: 75%;
    margin-top: 50px;
    float: left;
    padding-left: 50px;
}

.personalWords {
    text-align: center;
    width: 50%;
    margin: auto;
    padding-bottom: 15px;
}

#aboutQuote {
    width: 25%;
    float: right;
    padding: 25px;
    /*margin-top: 75px;*/
}

/* Projects Page */

#proj-wrapper{
    width: 970px;
    margin: auto;
    padding-left: 15px;
}

.projectoverview {
    float: left;
    padding-top: 25px;
}

#projects {
    z-index: 100;
    position: relative;
}

aside {
    float: left;
    margin-top: 20px;
}

/* Architect Page */

.architect {
    margin-left: 50px;
    margin-right: 50px;
}

.archHome {
    margin-left: -21px;
    border-right: 1px solid #BDBDBD;
    height: 70%;
}

#archQuote {
    margin-top: 20px;
    padding-left: 37px;
}

/* Contact Page */

#c1 {
    margin-left: 50px;
}

#contactPgPic {
    float: left;
    margin-left: 50px;
    width: 525px;
    height: 250;
}

#c2 {
    display: inline-block;
    padding-left: 19px;
}

/* Form */

fieldset {
    margin-top: 20px;
}

form input {
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 250px;

}

form textarea {
    margin-left: 20px;
}

/* Other */

.quoteName {
    display: block;
}

.wholeHouse, .bathroom, .kitchen {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    padding-bottom: 25px;
}

/* Image Gallery on subNav pages */

.thumbNails {
    width: 15%;
    float: left;
}

.thumbNails img {
    margin-left: 50px;
    padding: 2px;
    display: block;
    max-width: 100%;
}

.thumbNails img:hover {
    border: 4px solid blue;
    cursor: pointer;
}

.fullImage {
    float: right;
    width: 75%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

    /* Style adjustments for viewports that meet the condition */
@media only screen and (max-width: 1024px) {
    .carouselSlide {
        width: 50%
    }

    .about {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 800px) {
    .archHome {
        border-right: none;
    }
}

@media only screen and (max-width: 650px) {
    .about {
        width: 100%;
    }

    #aboutQuote {
        display: none;
    }
}


@media only screen and (max-width: 26.25em) {
    /* Home Screen */
    .main-nav img {
        width: 50%;
        margin-left: 100px;
    }

    .slide {
        width: 75%;
    }

    .carousel-control.left, .carousel-control.right {
        width: 75%;
        color: #000000;
        margin-top: -20px;
    }

    .homePage {
        margin-top: -200px;
    }

    .social-media {
        display: inline-block;
        padding-right: 50px;
        padding-top: 15px;
    }
    
    /* About Page */
    .about {
        padding-right: 20px;
    }

    /* Projects Page */
    .proj-home h1 {
        font-size: 1.5em;
    }

    .proj-home h2 {
        font-size: 1.25em;
    }

    .projectoverview {
        font-size: 1em;
        padding-left: 25px;
        width: 75%;
    }

    .projectoverview img {
        display: none;
    }
    
    /* Project Detail Pages */
   .thumbNails, .fullImage img {
        display: none;
    }

    /* Architect Page */
    .archHome {
        border-right: none;
        margin-left: 21px;   
    }
    
    /* Contact Page */
    #c1 {
        display: none;
    }

    #contactPgPic {
        display: none;
    }

    #c2 {
        padding-top: 50px;
    }
}








@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
